.contenedor-aprob{
    transition: 1200ms;
    margin-top:47px;
}
.contenedor-aprob-active{
    padding-left: 270px;
    transition: 700ms;
    margin-top:47px;
}
.span{
    color:rgb(167, 163, 163);
}
.btn-aprob{
    border:none
}