.input-group {
 
    margin-bottom: 15px;
  }
   .input-group input[type]{ 
    font-family: "Roboto";
    color: black;
    width: 100%;
    outline: none;
    padding: 15px;
    background: none;
    border: 2px solid #bbdefb;
    border-radius: 12px;
  }
  .input-group input[placeholder]
  {
    font-size: 15px;
  }
  
 .input-group input[type="text"]:focus
{
 outline: none;
 border: 1px solid #46a461;
 box-shadow: 1px  2px #46a461
}
