.input-group {
 
    margin-bottom: 15px;
  }
   .input-group input[type]{ 
    font-family: "Roboto";
    color: black;
    width: 280px;
    outline: none;
   
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 12px;
    font-size: 10px;
    margin :auto;
  }
  .input-group input[placeholder]
  {
    font-size: 18px;
    margin-left: 12px;
    padding: 5px;
    margin-top:1px;
    width: 300px;
  }

 .input-group input:focus
{
 outline: none;
 border: 1px solid #46a461;
 box-shadow: 1px  2px #46a461;
 background-color: #f6fffa;
}
.texto{
  font-size: 22px;
  border-radius: 12px;
  border: solid 2px rgba(0, 0, 0, 0.2);

}

