.mensaje{
     margin:7px;
   
   
    -webkit-box-shadow: 5px 7px 5px rgba(0,0,0,.09);
   -moz-box-shadow: 5px 7px 5px rgba(0,0,0,.09); 
   box-shadow: 5px 7px 5px rgba(0,0,0,.09); 
     border: solid 0px gray;
}


.mensaje:focus{
  
    background: #f6fffa;
    outline: none;
    
}