.boton{
    background:#46a461;
    border-color:#46a461;
    border-radius: 7px;
    color: #ffff;
}
.boton:hover{
    background-color: #ffff;
    color:#46a461;
    border-color:#46a461;

}
.boton:focus{
    color: #46a461;
    background-color: #ffff;
    border-color: #46a461;
 
}
/*segundo estilo de boton */
.botonII{
    border-color:#46a461;
    border-radius: 7px;
    color: #46a461;
}
.botonII:hover{
   border-color:#46a461;
    border-radius: 7px;
    color: #46a461;

}
.botonII:focus{
   border-color:#46a461;
    border-radius: 7px;
    color: #46a461;
 
} 