.boton{
    background:#46a461;
    border-color:#46a461;
    border-radius: 10px;
}
.boton:hover{
    background-color: #ffff;
    color:#46a461;
    border-color:#46a461;
<<<<<<< HEAD
=======

>>>>>>> f9970d4b884251bc92994b2a5f3e8dd412ffe8af
}
.boton:focus{
    color: #fff;
    background: #53ce76;
    border-color: #53ce76;;
 
}