
  .contenedor-alerta{
    width: 400px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.5);
  }
  .lista-alerta-card{
    padding:10px;

  }
  .lista-alerta-card:hover{
    background-color:#c5fdd3;
    border-radius: 20px;
  }
  .list-inactiva{
    padding:10px;

  }
  .list-inactiva{
    border-radius: 20px;

  }
  .boton-alerta{
  background-color:rgba(240, 232, 232, 0.867);
  border-color: #fff;
  color:rgba(204, 199, 199, 0.867);
  }
  .boton-alerta:hover{
  background-color: #ddd;
  border-color: rgba(240, 232, 232, 0.867);
  color:rgba(75, 73, 73, 0.867);
  
  }
  .boton-alerta:active{
    background-color: #ddd;
    border-color: #fff;
    color:rgba(75, 73, 73, 0.867);
  }
  .item-alerta{
   overflow: hidden;
  }
  .item-meta{
    cursor:pointer;
    
  }
  .ant-card-body{
    padding:4px;
  }
  .scrollableDiv::-webkit-scrollbar {
    width: 8px; /* Tamaño del scroll en vertical */
  
  }
  .scrollableDiv::-webkit-scrollbar-thumb {
    background: #8D8888  ;
    border-radius: 10px;
  }
  
  .scrollableDiv::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    /* box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); */
  }
  

  /* Ponemos un color de fondo y redondeamos las esquinas del track */
  .scrollableDiv::-webkit-scrollbar-track {
    background: #f0f2f5;
   
  }
/*drop con agregado de un position:fixed*/
  .ant-dropdown{
    position:fixed;

  }
  @media (max-width: 768px){
   .contenedor-alerta{
     width:570px;
   }
   .item-alerta{
   overflow: hidden;
  }
   
  }
  @media (max-width: 576px){
    .contenedor-alerta{
      width:300px;
      margin-left: 27px;
    }
    .item-alerta{
      width:200px;
     overflow: hidden;
    }
  
  }