.boton-campana,.boton-campana:hover{
  background-color: transparent;
  border: none;
  margin-bottom:20px;
}
.icon-campana{
  font-size: 20px;
  color:#0F0F0F;
}
.icon-campana:hover{
color:#ddd;
}
.icon-bocina{
    font-size: 20px;
}
.ant-badge-count {
  box-shadow: none;
}
.circle{
grid-area: item;
width: 10px;
height: 10px;
border-radius: 50%;
background-color: #46a461;
margin: auto;
}



