.btn_prueba{
    border-color:#46a461;
    border-radius: 7px;
    color: #46a461;
}
.btn_prueba:hover{
   border-color:#46a461;
    border-radius: 7px;
    color: #46a461;

}
.btn_prueba:focus{
   border-color:#46a461;
    border-radius: 7px;
    color: #46a461;
 
} 