body {
  /* background: #f7f7f7; */
  background: #f0f2f5;
}
body::-webkit-scrollbar {
  width: 12px; /* Tamaño del scroll en vertical */
  height: 12px; /*Tamaño del scroll en horizontal */
}
body::-webkit-scrollbar-thumb {
  background: #F6F3DD  ;
  border-radius: 4px;

}

body::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track {
  background: #9B9B9B;
  border-radius: 4px;
  
}

/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

#img {
  display: none;
}
.div-img {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
  margin-left: 85px;
  margin-top: 47px;
  background: #fff;
}
.div-img-active {
  border: none;

  display: flex;
  flex-direction: column;

  position: relative;
  margin-left: 84px;
  margin-top: 44px;
  background: transparent;
}
.div-img2 {
  border-radius:150px;
  width: 100px;
  height: 100px;

 
}

.avatar {
  border-radius: 50%;
  font-size: 30px;
  position: absolute;
  top: 70px;
  left: 64px;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgb(223, 219, 219);
  padding: 2px;
}

.persona {
  margin-left: 70px;
  margin-top: 20px;
}
.personaje {
  color: white;
  font-size: 17px;
}

.button-wrapper {
  position: relative;
  width: 150px;
  text-align: center;
  margin: 20% auto;
}

.button-wrapper span.label {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  background: #00bfff;
  cursor: pointer;
  color: #fff;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 12px;
}

#upload {
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.contendor-modal {
  display: flex;
}
