.contendor-encabezado{
display: flex;
flex-wrap:nowrap;
background: white;
height: 150px;
border-bottom: solid 2px #e1e1e1;
}
.logo{
  
    width: 100px;
    height: 149px;
  margin-right: 10px;
}
.negrita{
  margin-right:0;
}