.contenedor-rendicion-gasto{
    margin:auto;
    margin-top:50px;
    height: auto;
    padding: 20px;
  background-color: #fff;
  width: 90%;
border-radius: 20px;
}

/* .contenedor-rendicion{
    transition: 1200ms;
   
}
.contenedor-rendicion-active{
  padding-left: 200px;
    transition: 700ms;
} */
/*Tabla*/
.ant-table-thead > tr > th {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  text-align: left;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.ant-table-tbody > tr > td {
  border-bottom: 1px solid #f0f0f0;
  background: #fff;
}