.contenedor-form{
    width: 77%;
    margin-left:170px;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, 0.5);
    height: auto;
    padding: 30px;
    margin-top: 28px;
  background-color: #fff;

}
.contenedor-rendicion{
    transition: 1200ms;
   
}
.contenedor-rendicion-active{
  padding-left: 200px;
    transition: 700ms;
}
/*Tabla*/
.ant-table-thead > tr > th {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  text-align: left;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.ant-table-tbody > tr > td {
  border-bottom: 1px solid #f0f0f0;
  background: #fff;
}