.vista-imagenes{
    display: flex;
    flex-wrap: nowrap;
    margin-left:170px;
    margin-top:40px;
    border:solid 1px #ddd;
    border-radius: 14px;
      height: 437px;
        }
.vista-img{
    width: 400px;
    height: 400px;
}
.vista-datos{
    padding: 40px;
    border-left: solid 2px #ddd;
}

.sp{
    color:gray;
}
p {
    width: 200px;
    color:gray;
    padding: 2px 5px;
  
    /* BOTH of the following are required for text-overflow */
    white-space: nowrap;
    overflow: hidden;
  }
  
  .overflow-visible {
    white-space: initial;
  }