.vista-imagenes {
  display: flex;
  flex-wrap: nowrap;
 margin:auto;
  border: solid 1px #ddd;
  border-radius: 14px;
  height: 437px;
}
.vista-img {
  width: 400px;
  height: 400px;
}
.vista-datos {
  padding: 40px;
  border-left: solid 2px #ddd;
}

.sp {
  color: gray;
}
p {
  width: 200px;
  color: gray;
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.overflow-visible {
  white-space: initial;
}
