.vista-imagenes {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 70px;
 margin-left: 200px;
  border: solid 1px #ddd;
  border-radius: 14px;
  height: 340px;
}
.vista-imagenes-active{
  display: flex;
  flex-wrap: nowrap;
  margin-top: 70px;
  border: solid 1px #ddd;
  border-radius: 14px;
  margin-left: 100px;
  height: 340px;
  
}
.vista-datos {
  padding: 20px;
  border-left: solid 2px #ddd;
  width: auto;
}

.sp {
  color: gray;
}
.h5 p {
  width: 200px;
  color: gray;
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.overflow-visible {
  white-space: initial;
}
@media (min-width: 1500px) {
  .vista-imagenes {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 70px;
   margin-left: 240px;
    border: solid 1px #ddd;
    border-radius: 14px;
    height: 437px;
  }
  .vista-imagenes-active{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 70px;
   margin-left: 240px;
    border: solid 1px #ddd;
    border-radius: 14px;
    height: 437px;
  }
  .vista-datos {
    padding: 40px;
    border-left: solid 2px #ddd;
    width: auto;
  }


}