.form {
  width: 65%;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.5);
  height: 500px;
  margin-top: 50px;
  margin-left: 200px;
  padding: 30px;
}

.titulo {
  font-family: "Courier", sans-serif;
  text-align: center;
  border-bottom: solid 2px #46a461;
  color: black;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  height: 50px;
  font-size: 35px;
}
.form-control{
  border-radius: 14px;
  
}
.form-control:hover{
border:solid 2px #46a461;
}
.form-control:focus{
  border: solid 2px #46a461;
  box-shadow: none;
}
.select.btn-group .dropdown-menu li a:hover {
  background: #46a461 !important;
  }



