:root {
  /*===== Colores =====*/
  --border-color: #54c875;
  --color-option: #7bdb96;
}
.form{
  width:37% !important;
  margin-top:40px !important;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.5);
 padding:20px;
 background-color: #fff;
}

.ant-col-sm-8{
  height: 0;
}

/*---------- Input ----------*/

.ant-input{
  border-radius: 10px;
}

/*---------- Input Icon ----------*/

.ant-input-affix-wrapper {
  border-radius:10px;
}

/*---------- Icon ----------*/
.ant-input-prefix {
  font-size: 30px;
}
/*---------- Text Area ---------*/
.ant-form-item .ant-mentions,
.ant-form-item textarea.ant-input {
  height: 100px;
  border-radius: 10px;
}

.ant-input:focus,
.ant-input-focused {
  border: solid 2px var(--border-color);
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: none;
}
.ant-input:hover {
  border: solid 2px var(--border-color);
}
/*--------Button-------*/
.btn{
  background-color: var(--border-color);
  border-color: var(--border-color);
  color: #fff;
  border-radius: 10px;
}

.btn:active {
  color: #fff;
  background: #46a461;
  border-color: #46a461;
}
.btn:hover,
.btn:focus {
  color: #fff;
  background: #46a461;
  border-color: #46a461;
}
.btn.focus, .btn:focus{
  box-shadow:none
}

.simple {
  padding: 40px;
}
/*----------Data Picker ----------*/
.ant-picker {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  padding: 4px 11px 4px;
  position: relative;
  display: inline-flex;
  align-items: center;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  transition: border 0.3s, box-shadow 0.3s;
  height: 42px;
}
.ant-picker:hover, .ant-picker-focused {
  border: solid 2.5px var(--border-color);
  border-right-width: 1px !important;
}

/*Rendicion*/
.img-muestra{
  display:none
}


/*----------------------------------------------Media query table-----------------------------------------------------------------*/
@media (max-width: 768px) {
  /*---------Fondo del formulario----------*/
  .form {
    width: 70% !important;
    padding: 20px;


  }
  .formulario-rendicion-crear{
width:70% !important;
margin:auto;
margin-top:40px !important;
border-radius: 20px;
box-shadow: 0 10px 25px rgba(92, 99, 105, 0.5);
padding:20px;
height: auto !important;

  }
  .vista-muestra{display:none}
  .img-muestra{display:block}
  .img-muestra{
    width: 200px;
    height: 200px;
    margin-bottom: 70px;
  }
  .custom-file-preview{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    margin-top: 1rem;
    grid-gap: 10px;
    gap: 10px;
    width: 200px;
    height: 200px;
  }
  .custom-file-preview .prev-img{
    display: flex;
    -moz-flex-align: center;
    align-items: center;
    -moz-flex-pack: center;
    justify-content: center;
    position: relative;
    bottom: 31px;
    border-radius: 5px;
    overflow: hidden;
    width: 250px;
    height: 250px;
  }
}
/*----------------------------------------------Media query celular -----------------------------------------------------------------*/
@media (max-width: 576px) {
  .form {
    width: 95% !important;
    border-radius: 20px;
    box-shadow: none;
    margin:auto;
  }
  .formulario-rendicion-crear{
    width: 95% !important;
    height: auto !important;
    margin:auto
  }
  .img-muestra{
    width: 100px !important;
    height: 100px !important;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .custom-file-preview{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    margin-top: 1rem;
    grid-gap: 10px;
    gap: 10px;
    width: 150px !important;
    height: 150px !important;
  }
  .custom-file-preview .prev-img{
    display: flex;
    -moz-flex-align: center;
    align-items: center;
    -moz-flex-pack: center;
    justify-content: center;
    position: relative;
    bottom: 31px;
    border-radius: 5px;
    overflow: hidden;
    width: 150px !important;
    height: 150px !important;
  }
 
}
