:root {
  /*===== Colores =====*/
  --border-color: #54c875;
  --color-option: #7bdb96;
}
.form {
width: 37%;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.5);
  height: auto;
  margin-top: 70px;
  margin-left: 440px;
  padding: 30px;
}
.form-active{
  width: 37%;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.5);
  height: auto;
  margin-top: 70px;
  margin-left: 440px;
  padding: 30px;
}
.ant-col-sm-8{
  height: 0;
}

/*---------- Input ----------*/

.ant-input{
  border-radius: 10px;
}

/*---------- Input Icon ----------*/

.ant-input-affix-wrapper {
  border-radius: 20px;
}
.ant-input-affix-wrapper:hover {
  border: solid 2.5px var(--border-color);
  border-right-width: 1px !important;
}
.ant-input-affix-wrapper-lg {
  padding: none;
  height: 39px;
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border: solid 2.5px var(--border-color);
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: none;
}
.ant-input-affix-wrapper > input.ant-input {
  bottom: 5px;
  height: 30px;
  border-radius: 7px;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border: solid 2.5px var(--border-color);
  border-right-width: 1px !important;
  z-index: 1;
}
/*---------- Icon ----------*/
.ant-input-prefix {
  font-size: 30px;
}
/*---------- Text Area ---------*/
.ant-form-item .ant-mentions,
.ant-form-item textarea.ant-input {
  height: 100px;
  border-radius: 10px;
}

.ant-input:focus,
.ant-input-focused {
  border: solid 2px var(--border-color);
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: none;
}
.ant-input:hover {
  border: solid 2px var(--border-color);
}
/*--------Button-------*/
.btn{
  background-color: var(--border-color);
  border-color: var(--border-color);
  color: #fff;
  border-radius: 10px;
}

.btn:active {
  color: #fff;
  background: #46a461;
  border-color: #46a461;
}
.btn:hover,
.btn:focus {
  color: #fff;
  background: #46a461;
  border-color: #46a461;
}
.btn.focus, .btn:focus{
  box-shadow:none
}

.simple {
  padding: 40px;
}
/*----------Data Picker ----------*/
.ant-picker {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  padding: 4px 11px 4px;
  position: relative;
  display: inline-flex;
  align-items: center;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  transition: border 0.3s, box-shadow 0.3s;
  height: 32px;
}
.ant-picker:hover, .ant-picker-focused {
  border: solid 2.5px var(--border-color);
  border-right-width: 1px !important;
}
/*----------------------------------------------Media query table-----------------------------------------------------------------*/
@media (max-width: 768px) {
  /*---------Fondo del formulario----------*/
  .form {
    width: 70%;
    margin-left: 150px;
  }
  
  
}
/*----------------------------------------------Media query celular -----------------------------------------------------------------*/
@media (max-width: 576px) {
  .form {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    height: 0;
    margin-top: 50px;
    margin-left: 0;
    padding: 12px;
    

  }

 .contenedor-active{
   padding:0
 }
 
}
