.titulo {
    text-align: center;
  
   
  }
/*----------------------------------------------Media query table-----------------------------------------------------------------*/

@media (max-width: 768px) {
.titulo{
    font-size: 30px;

}}
/*----------------------------------------------Media query celular -----------------------------------------------------------------*/

@media (max-width: 576px) {
    .titulo{
        font-size: 28px;
    
    }
}
