.titulo {
    text-align: center;
  border-bottom: solid 2px #46a461;
  padding:2px;
   
  }
 
/*----------------------------------------------Media query table-----------------------------------------------------------------*/

@media (max-width: 768px) {
    h2.ant-typography{
        font-size:30px;
      
    }
}
/*----------------------------------------------Media query celular -----------------------------------------------------------------*/

@media (max-width: 576px) {
  
    h2.ant-typography{
        font-size: 28px;
      
    }
}
