.titulo {
    text-align: center;
   margin-left: 20px;
  }
 
/*----------------------------------------------Media query table-----------------------------------------------------------------*/

@media (max-width: 768px) {
    h2.ant-typography{
        font-size:30px;
      
    }
}
/*----------------------------------------------Media query celular -----------------------------------------------------------------*/

@media (max-width: 576px) {
  
    h2.ant-typography{
        font-size: 28px;
      
    }
}
