.contenedor{
    display: grid;
    grid-template-columns: 300px  auto  40px;
    grid-template-rows:  100px auto;
 
}

.sector-a{
background: turquoise;

}
.sector-b{
    background-color: violet;
}
.sector-c{
    background: yellow;
}