.contenedor{
    display: grid;
    grid-template-columns: minmax(100px,360px);
    grid-template-rows:auto;
    row-gap: 15px;
    
  }
.item-a{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  
  }
  .item-b{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: auto;
    
  
  }
  
h5{
    text-align: center;
    margin: 12px;
    background: rgba(0, 0, 0, 0.04);
  }
  b{ margin-right: 99px;}
  .btn{
    width: 336px;
    margin: 10px;
  }
  .atras{
    font-size: 10px;
    
   
  
  }
  .boton-atras{
  font-size: 15px;
  margin-left: 0;
  width: 107px;
  }
  