 @media (min-width: 380px) {
    .btn{
        width: 94%;
      }
}
@media (min-width: 720px) {
    .btn{
        width: 94%;
      }

}@media (min-width: 1024px) {
    .btn{
      margin-top:10px;
      margin-left: 17px;
        width: 74%;
      }
}
/*to be continued*/