 @media (min-width: 380px) {
    .btn{
        width: 94%;
      }
}
@media (min-width: 720px) {
    .btn{
        width: 94%;
      }

}@media (min-width: 1024px) {
    .btn{
        width: 72%;
      }
}
/*to be continued*/