

.contenedore{
    padding:14px;
}
.contenedor{
    transition: 1200ms;
    padding:20px;
    padding-top:50px;
    height: auto;



}
.contenedor-active{
    padding-left: 265px;
    transition: 700ms;
    padding-top:50px;
    
}


@media (max-width: 768px){
  
    .contenedor-active{
        padding-left: 0px;
}
}
@media (max-width: 576px){


}
