.contenedore{
    padding:14px;
}
.contenedor{
    transition: 1200ms;
    padding-top:57px;
    height: auto;
    padding-right:10px;


}
.contenedor-active{
    padding-left: 280px;
    transition: 700ms;
    padding-top:57px;
    padding-right: 10px;
    
}
