/*Border de las Card*/
.ant-card-bordered{
    border-radius: 20px;
    padding:10px;
}
.conectado{
    color:rgba(0, 0, 0, 0.45);
    margin-left: 70px;
}
.lista{
    border-radius:20px;
    background: white;
    border:none;
}
