
  

  .login {
  padding: 20px 20px;
  text-align: center;
  height:631px
  }
  /*sector imagen*/
  .imagen-penalty{
    height: 230px;
    width: 230px;
    margin-left: 40px;
  }
  /*fin sector imagen*/

  /*sector inputs*/
  .texto {
    border: none;
    width: 40%;
    margin:auto;
    padding: 20px 10px;
    display: block;
    height: 15px;
    border-radius: 20px;
    border: 2px solid rgb(139, 138, 138);
    overflow: hidden;
    margin-top: 15px;
    color:black;
    transition: all 0.5s ease-in-out;

  }
  /*fin sector inputs*/
  
  .texto::placeholder {
    color:rgba(102, 97, 97, 0.924);
  }
  
  .texto:focus {
    outline: 0;
    border: 1px solid #46a461;
    box-shadow: 1px  1px #46a461;
    border-radius: 20px;
  }


  .ingresar{
     margin-top: 50px;
      width: 220px;
      height: 36px;
      background:#46A461;
      border-radius:20px;
      border:none;
      outline:none;
      color: black;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      transition: 0.2s ease;
      cursor: pointer;
  }
  
  
  