.navbar {
  background-color: #46a461;
  height: 47px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.nav-menu {
  background-color: #46a461;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 3s;
  z-index: 99;
}
.nav-menu.active {
  left: 0;
  transition: 1s;
}
.nav-menu-items {
  width: 100%;
}
.x {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 27px;
  color: white;
}
.hamburguesa{
margin-left: 40px;
margin-top:8px
}
.nomaler{
  margin-right: 40px;
  margin-top: 2px;
}
.alerta{
  margin-top:5px;

}
.nombreCompleto{
  margin-top:7px;
}
.auto{
  width: 100%;
  height: 70%;
  overflow-y: scroll;

}
.auto::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /*Tamaño del scroll en horizontal */
}

.auto::-webkit-scrollbar-thumb {
  background: #46a461  ;
  border-radius: 4px;

}

.auto::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.auto::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
/* Ponemos un color de fondo y redondeamos las esquinas del track */
.auto::-webkit-scrollbar-track {
  background: #46a461 ;
  border-radius: 4px;
  
}

/* Cambiamos el fondo cuando esté en active o hover */
.auto::-webkit-scrollbar-track:hover,
.auto::-webkit-scrollbar-track:active {
  background: #46a461 ;
}

