.navbar {
  background-color: #46a461;
  height: 47px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.nav-menu {
  background-color: #46a461;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 3s;
  z-index: 99;
}
.nav-menu.active {
  left: 0;
  transition: 1s;
}
.nav-menu-items {
  width: 100%;
}
.x {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 27px;
  color: white;
}
.hamburguesa{
margin-left: 40px;
margin-top:8px
}
.nomaler{
  margin-right: 40px;
  margin-top: 2px;
}
.alerta{
  margin-top:5px;

}
.nombreCompleto{
  margin-top:7px;
}
.auto{
  width: 100%;
  height: 70%;
  overflow: scroll;

}


